                                       
                                       /* Button */
button{
	.size-box(45px, 45px);
}  
                                   
.section-right button{
	.set-font(19px, @color-btn);
	line-height: 30px;
}

// кнопка для відображення/приховування блоку section--left
.btn-show{
	float: left;
	padding-right: 3px;
	padding-bottom: 2px;

	i{
		.set-font(37px, #fff);
	}

	.fa-angle-right{
		margin-left: 6px;
	}
}

// кнопна меню
.btn-menu{
	.set-font(25px, #fff);
}	

// іконка листів
.btn-letter{
	float: left;
}

// кнопка для прикріплення документів
.btn-download{
	margin-top: 7.5px;
	.set-font(20px, @color-btn);
}

