
                               /* Exit page CSS */

// фунції і змінні 
@import 'mixins_variables.less'; 

// reset css і спільні властивості тегів
@import 'base.less';

.wrapper-exit{
	position: absolute;
	left: 50%;
	top: 50%;
	.size-box(300px, 300px);
	margin-top: -150px;
	margin-left: -150px;
	border-radius: 7px;
	background-color: #3B3E99;

	nav{
		.size-box(100%, 50px);

		a{
			display: block;
			float: left;
			.size-box(50%, 50px);
			padding-top: 7px;
			border: 2px solid #fff;
			outline: none;
			background-color: #4B4EA4;
			.set-font(22px, #fff);
			text-align: center;
			cursor: pointer;
		}
	}

	form{
		padding-top: 15px;
		padding-right: 20px;
		padding-left: 20px;

		h2{
			padding-bottom: 5px;
			color: #fff;
			text-align: center;
		}

		input{
			.size-box(100%, 40px);
			margin-top: 15px;
			border: none;
			border-radius: 6px;
		}

		input:not([type=submit]){
			padding-left: 12px;
			font-size: 15px;
		}

		input[type=submit]{
			margin-top: 25px;
			background-color: #BCBCE1;
			.set-font(20px, #fff);
		}
	}
}